# IMPORTANTE: Esta aplicación también requiere que Pandoc esté instalado en el sistema.
# Puede descargarlo desde https://pandoc.org/installing.html

# Core dependencies
PySide6>=6.5.0,<7.0.0
pypandoc>=1.13,<2.0.0